.button-save {
    position: absolute;
    right: 0;
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.21);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    outline: none;
    margin: 20px;
}

.form {
    position: relative;
    width: 622px;
}